.form {

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit; // Input elements doesn't inherit automatically parent's font-family & color, so set manually
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: 0;
    border-bottom: 3px solid transparent; // offset focus
    width: 100%;
    display: block;
    transition: all .3s;

      &:focus {
        outline: 0;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary;
      }

      &:focus:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }

      &::-webkit-input-placeholder {
        color: $color-grey-dark-2;
      }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  // label/element should be after the input/element in order to be selected with the adjacent sibling selector +
  // label that come immediately after any input of the same parent element
  &__input:placeholder-shown + &__label {
    // as soon as someone types on input these styles will be gone and label would be animated
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); // move up
  }

  &__radio-group {
    // both must be inline-block
    width: 49%;
    display: inline-block;
  }

  &__radio-input {
    display: none; // hide default radio button
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative; // radio button origin
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block; // in order for circle shape to work
    position: absolute;
    left: 0;
    top: -.4rem;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      @include position-absolute-center;
      background-color: $color-primary;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  // Set radio-button::after opacity to 1 when selected & checked that are preceded by a radio-input element with the same parent
  // select sibling radio-label and then child radio-button using general sibling selector ~
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
