.header {
  //
  // vh = relative length, that every point, the height of this element,
  // should be 95% almost 100% of the viewport height, user's visible area of a web page
  // give the element a little bit of breathing room, try resizing the browser
  // the white bar/space is the remaining 5% of viewport height
  //
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top; // top of image won't be cropped when resizing
  position: relative; // origin
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); // polygon (top-left, top-right, bottom-right, bottom-left), x y pos

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); // translate(X, Y) X starts at left to right, Y starts at top to bottom
    text-align: center;  // Button Discover is treat as text 'cause of inline-block so use text-align: center
  }
}
