@keyframes moveInLeft {
  // Start
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  40% {
    color: $color-white;
  }

  45% {
    color: $color-grey-dark-1;
  }

  80% {
    transform: translateX(1rem); // move a little and back
  }

  // Finish
  100% {
    color: $color-white;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem); /* move a little and back */
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
