// apply a natural box layout model to all elements,
// but allowing components to change, so use inherit.

// This gives you the box model you want. Applies it to all elements.
// Turns out many browsers already use border-box for a lot of
// form elements (which is why inputs and text areas look diff at width:100%;)
//  But applying this to all elements is safe and wise.

// -- Keyword values --
// box-sizing: content-box;
// box-sizing: border-box;

// -- Global values --
// box-sizing: inherit;
// box-sizing: initial;
// box-sizing: unset;

*,
*:not(img),
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // root: HTML
  // 10px easy to calculate w/ relative units but use percentage,
  // if user change browser font size page will be responsive
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  color: $color-grey-dark-1;
  padding: 3rem;

  box-sizing: border-box;
}
